.product {
    cursor: pointer;
    }


.product:hover .product__layer {
    opacity: 1;
}

 .product__layer {
    transition: 0.5s;
    background-color: rgba( 41,177,151,  0.9);
    opacity: 0;
}

.product__layer__icon {
    font-size: 100px;
}



.my-modal {
    position: fixed; 
    z-index: 5 !important; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
   

    background-color: rgba(9, 9, 235, 0.226); 

    
}

.my-modal__img {
    width: 40%;
}